<div class="card w-100 mt-5 bg-info" style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div class="card-header" style="margin-left:80%">
    <p> All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Rohit</cite>
    </footer>
  </div>
</div>